.login-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-left: 10rem;
  background-image: url("/header-hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  width: 100%;
  max-width: 450px;
  padding: 8rem 2rem;
  border-radius: 8px;
  background-color: rgba(106, 171, 180, 0.93);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-card h1 {
  text-align: center;
  margin-bottom: 4rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  background-color: rgb(59, 95, 100);
}
