<mat-drawer-container class="sidenav-container">
    <mat-drawer #drawer class="sidenav" mode="over">
        <div class="sidenav-header">
            <mat-icon class="logo-icon">local_hospital</mat-icon>
            <h2>InfraMed</h2>
        </div>

        <mat-nav-list class="list-nav">
            <a mat-list-item routerLink="home" routerLinkActive="active">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a mat-list-item routerLink="/app/pacientes" routerLinkActive="active">
                <mat-icon>people</mat-icon>
                <span>Pacientes</span>
            </a>
            <a mat-list-item routerLink="/app/funcionarios" routerLinkActive="active">
                <mat-icon>badge</mat-icon>
                <span>Funcionários</span>
            </a>
            <mat-divider></mat-divider>
            <a mat-list-item (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
            </a>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>InfraMed</span>
            <span class="toolbar-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="userMenu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-icon-button (click)="toggleTheme()">
                <mat-icon>{{ isDarkTheme ? 'light_mode' : 'dark_mode' }}</mat-icon>
            </button>
        </mat-toolbar>

        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
    </button>
    <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Configurações</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>