<div class="container">
  <h2>Lista de Atendimentos</h2>

  <button class="btn btn-primary mb-3" (click)="navegarParaCriar()">Novo Atendimento</button>

  <div *ngIf="loading" class="alert alert-info">Carregando...</div>

  <div *ngIf="error" class="alert alert-danger">{{error}}</div>

  <table class="table table-striped" *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>Nome do Paciente</th>
        <th>Médico Responsável</th>
        <th>Status Paciente</th>
        <th>Data de Entrada</th>
        <th>Data de Saida</th>
        <th>Numero do Quarto</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let atendimento of atendimentos">
        <td>{{atendimento.nomePaciente}}</td>
        <td>{{atendimento.nomeMedicoResponsavel}}</td>
        <td>{{atendimento.statusPaciente}}</td>
        <td>{{atendimento.dataEntrada | date:'short'}}</td>
        <td>{{atendimento.dataSaida | date:'short'}}</td>
        <td>{{atendimento.numeroQuarto}}
    
        
          <td class="actions">
            <button class="info" (click)="navegarParaInfo(atendimento.id!)" matTooltip="Ver detalhes">
              <mat-icon>visibility</mat-icon>
            </button>
            <button class="warning" (click)="navegarParaEditar(atendimento.id!)" matTooltip="Editar">
              <mat-icon>edit</mat-icon>
            </button>
            <button class="danger" (click)="deletarAtendimento(atendimento.id!)" matTooltip="Excluir">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
      
      </tr>
    </tbody>
  </table>

  <div *ngIf="!loading && !error && atendimentos.length === 0" class="alert alert-warning">
    Nenhum atendimento encontrado.
  </div>
</div>
